<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:url"           content="http://somename85.parseapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Webinars" />
    <meta property="og:description"   content="Kown test task." />
    <meta property="og:image"         content="http://cs621119.vk.me/v621119065/7dae/JwLYhz_NGcQ.jpg" />

    <title>Kown test task</title>
    <link rel="stylesheet" href="./css/app.css"/>
</head>
<body>

<section class="schedule" id="webinars-schedule">
    <h2 class="schedule_title">
        An introduction to Investing in Startups
    </h2>

    <ul class="schedule_list" id="webinars-list"></ul>
</section>

<!-- template parent tagName: "li", className: "schedule_list-i" -->
<script type="text/template" id="webinar-template">
    <span class="schedule_date">
        <%= date %>
    </span>
    <button class="schedule_subscribe-btn">
        Attend Free
    </button>
</script>

<!-- template parent tagName: "section", className: "subscribe-window" -->
<script type="text/template" id="subscribe-window-template">
    <div class="subscribe-window_form">
        <h2 class="subscribe-window_title">
            Sign-up for the Webinar
        </h2>

        <div class="subscribe-window_info">
            You are signing up to attend the webinar on
            <br/>
            <%= date %>.
            <br/>
            It`s free.
        </div>

        <div class="subscribe-window_inputs">
            <input type="text" placeholder="First Name" class="subscribe-window_input" name="first-name" value="Aleksej"/>
            <input type="text" placeholder="Last Name" class="subscribe-window_input" name="last-name" value="Dryndin"/>
            <input type="email" placeholder="Email" class="subscribe-window_input" name="email" value="somename85@gmail.com"/>
            <input type="text" placeholder="Phone" class="subscribe-window_input" name="phone" value="89021234567"/>
        </div>

        <input type="submit" class="subscribe-window_subscribe-btn" id="subscribe-window_subscribe-btn"/>
    </div>
</script>

<!-- template parent tagName: "section", className: "share-window" -->
<script type="text/template" id="share-window-template">
    <div>
        <a href="<%= addToGoogleCalendarUrl %>" class="share-window_link" target="_blank">
            Save to Google Calendar
        </a>
    </div>

    <div class="share-window_call-to-action">
        Spread the word
    </div>


    <a class="share-window_btn fb-share-button"
       href="http://www.facebook.com/sharer/sharer.php?u=<%= shareUrl %>&t=<%= name %>" target="_blank">
        Facebook
    </a>


    <a class="share-window_btn twitter-share-button"
       href="https://twitter.com/intent/tweet?text=<%= name %>&url=<%= shareUrl %>" target="_blank">
        Twitter
    </a>
</script>

<script src="./js/app.compiled.js"></script>
</body>
</html>